*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
  }
  
  .dropdown {
      position: relative;
      margin: 5px;
  }
  .dropdown-content{
      display: none;
      min-width: 208px;
    position: absolute;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }
  
  .sidedropdown{
    
    margin-left: 240px;
    height: 600px;
    top: 0px;
    min-width: 330px;
    overflow: auto;
    
  }
   .dropdown-content:hover .sidedropdown{
     display: block;
   }
  .dropdown-content > div{
    border-bottom: 2px solid rgba(112, 108, 108, 0.39) !important;
  }
  .swiper-button-next{
    color:gray !important;
  }
  .swiper-button-prev{
    color:grey !important;
    
  }
  
  .dropdown-more:hover .moreshow{
    z-index: 10;
    position: absolute;
    min-width: 200px;
    display: block;
  }

  .logo{
      width : 130px;
        height: 150px;
        margin-right: 20px;
    }
    #arrow{
        transition: all 0.3s ease;
    }

    .dropbtn:hover #arrow{
        transform: rotate(180deg);
    }

    /* ----------------------------banner start -       */

    #banner{
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-top: 20px;
        transition: 0.3s ease;
    }

    /* #bannerbtn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;
        display: flex;
        justify-content: space-between;
        width: 90%;
        
    }
    #bannerbtn button{
        font-size: 35px;
        color: rgb(131, 114, 114);
        transition: 00.3s ease all;
    }
    #bannerbtn button:hover{
        color: rgb(255, 255, 255);
        transform: scale(1.1);
    } */


    .exploreBtn{
        
        display: flex;
        justify-content: center;
    }


    /* -----------sign up page -------- */

    #signPage{
      border-radius: 10px;
      width: 60%;
      height: 450px;
      margin: auto;
      background-color: #ffffff;
      /* border: 1px solid black; */
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 9;
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      display: none;
    }
    #signPage > div {
        /* border: 2px solid black; */
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    #signPage > div > img{
      width:200px;
      height: 200px;
      object-fit: cover;
      margin: auto;
    }

    .active .signpage{
      display: none;
    }

  