* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

#container {
    height: 900px;
    width: 100vw;
    /* border: 1px solid red; */
}

/* ..........1.......................... */
#navbar {
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid red; */
}

#navBarg {
    height: 100%;
    width: 67%;
    /* border: 1px solid green; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#imgUpgrad {
    height: 50%;
    width: 15%;
    width: auto;
    /* border: 1px solid yellow; */
    /* margin: 2vw */
    margin-top: 2vw;
}

#imgUpgrad>a>img {
    display: block;
    height: 100%;
    width: 100%;
}

#mainElement {
    height: 50%;
    width: 45%;
    width: auto;
    /* border: 1px solid yellow; */
    margin-top: 2vw;
    font-size: 14px;
    display: flex;
    gap: 1vw;
}

#mainElement>a {
    text-decoration: none;
    color: black;
    padding-top: 4%;
}

#mainElement>a:hover {
    color: red;
}

/* ..........2.......................... */
#navBarSecond {
    height: 62px;
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
    background-color: rgb(244, 246, 246);
}

#navBarsecond-2 {
    height: 100%;
    width: 677px;
    margin: auto;
    /* border: 1px solid aqua; */
    display: flex;

}

#navBarsecond-2>div {
    border: 1px solid rgb(170, 161, 161);
    margin: 1.5vw 5px;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

#navBarsecond-2>div>a {
    text-decoration: none;
    color: black;
    padding: auto;
    font-size: 15px;
}

#navBarsecond-2>div>a:hover {
    color: red;

}

/* ..........3 imageDiv.......................... */
#mainImage {
    height: 650px;
    width: 100%;
    border: 1px solid rgb(247, 242, 242);
    background-image: url("https://v.fastcdn.co/u/f8c127f9/59053062-0-Banner-Image.png");
}

#underMainImage {
    height: 560px;
    width: 550px;
    /* margin: auto; */
    margin: 40px 0px 0px 200px;
    /* border: 1px solid green; */
}

span {
    color: white;
    font-size: 39px;
    font-weight: bold;
}

.allSpan {
    color: rgb(238, 44, 60);
    font-size: 20px;
    display: block;
    padding-top: 40px;
}

#btn1 {
    background-color: black;
    border: none;
    color: white;
    padding: 14px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
}

#btn2 {
    background-color: rgb(238 44 60);
    border: none;
    color: white;
    padding: 14px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    margin-left: 41px;
    font-size: 12px;
}

/* ............................4.......................................... */
#callbackDiv {
    height: 650px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}

#callbackDiv-1 {
    height: 380px;
    width: 428px;
    /* border: 1px solid red; */
    margin: 129px 10px 0px 250px
}

#callbackDiv-2 {
    height: 600px;
    width: 363px;
    /* border: 1px solid red; */
    margin: 34px;
    border-radius: 25px;
    background-color: rgb(243, 245, 247);
}

.shape {
    background-color: rgb(238, 44, 60);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
    margin-top: 25px;
}

.aftershape {
    font-size: 17px;
    color: black;
    font-weight: normal;
}

#callbackDiv-3 {
    height: 85px;
    width: 100%;
    background-color: rgb(238, 44, 60);
    /* border: 1px solid red; */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#callbackDiv-2>input {
    width: 80%;
    padding: 12px 20px;
    margin: 12px 10%;
    box-sizing: border-box;
}

/* ........................5.................................................................. */
#hireUs {
    height: 500px;
    opacity: 0.9;
    width: 100%;
    /* border: 1px solid red; */
    background-image: url("https://v.fastcdn.co/u/f8c127f9/58668822-0-shutterstock-7582641.jpg");
    text-align: center;

}

#hireUs>span {
    color: white;
    font-size: 2.3529rem;
    display: inline-block;
    padding-top: 60px;
}

#hireUs-2 {
    height: 300px;
    width: 70%;
    /* border: 1px solid red; */
    margin: auto;
    text-align: left;
    display: flex;
    margin-top: 21px;

}

#hireUs-2>span {
    display: inline-block;
    padding-top: 10px;
}

.ticklogo {
    height: 45px;
    width: 59px;
    padding-top: 5px;

}

.spanTag {
    font-size: 17px;
}

.hireUs-3 {
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
}

#buybutton {
    background-color: rgb(238 44 60);
    border: none;
    color: white;
    padding: 15px 72px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    margin-left: 41px;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}

/* <!-- ...........................6................................................... --> */
#placement {
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
}

.highlights {
    color: black;
    font-size: 35px;
    display: inline-block;
    padding-top: 50px;
}

#placement-2 {
    height: 130px;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.placement-3 {
    height: 58%;
    width: 12%;
    /* border: 1px solid red; */
    margin-top: 2%;
}

.placementSpan-1 {
    color: red;
    font-size: 30px;
}

.placementSpan-2 {
    color: black;
    font-size: 15px;

}

.placement-button-1 {
    border: 2px solid rgb(227, 20, 20);
    color: black;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 9px;
    font-size: 12px;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: -40px;
}

.placement-button-2 {
    border: 2px solid rgb(238,44,60);
    color: white;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 9px;
    font-size: 12px;
    background-color:rgb(238,44,60);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 40px;
}
.placement-button-1:hover{
    background-color: black;
    color: white;
  
}
/* ...............................7............................. */
#learners{
    height: 600px;
    width: 100%;
    /* border: 1px solid red; */
   text-align: center;
   background-color: rgb(244,246,246);
   
}
#learners>span{
    color: rgb(228, 21, 21);
    font-size: 2.3529rem;
    display: inline-block;
    padding-top: 60px;
}
#learners-1{
    height: 300px;
    width: 60%;
    margin: auto;
    margin-top: 60px;
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
}
.learners-2{
    height: 100%;
    width: 20%;
    /* border: 1px solid red; */
}
.learners-3{
    height: 15%;
    width: 100%;
    /* border: 1px solid red; */
    background-color: rgb(220,28,29);
    font-size: 15px;
}
.learnerSpan{
color: white;
font-size: 15px;
display: inline-block;
padding-top: 10px;
}
.spanLine{
    color: red;
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;

}
.spanLine-2{
    display: inline-block;
    color: black;
    font-size: 10px;
    margin-top: 5px;
}
.learnerimage{
    height: 180px; 
    width: 100%;
}
/* .................................8................................ */
#recruiter{
    height: 700px;
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
}
#recruiter>span{
    color: rgb(228, 21, 21);
    font-size: 2.3529rem;
    display: inline-block;
    padding-top: 50px;
}
#grid-container{
    height: 450px;
    width: 70%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
}
#grid-container>div{
    border: 1px solid red;
}
/* .....................................9................................. */
#review{
    height: 700px;
    width: 100%;
    /* border: 1px solid red; */
    background-color: rgb(241,242,242);
    text-align: center;
}
#review>span{
    color: rgb(228, 21, 21);
    font-size: 2.3529rem;
    display: inline-block;
    padding-top: 50px;
}
#review-1{
    height: 500px;
    width: 80% ;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 50px;
    display: flex;
}
#review-1>div{
    height: 100%;
    width: 30%;
    margin: auto;
    border: 1px solid rgb(118, 114, 114);
}
.round{
    margin: auto;
    height: 100px;
    width: 100px;
    /* border: 1px solid red; */
    border-radius: 50%;
}
.forSpan{
    font-size: 20px;
    font-weight: normal;
    color: black;
    display: inline-block;
    padding-top: 30px;
}
/* ......................................10....................................... */
#footer{
    height: 230px;
    width: 100%;
    border: 1px solid rgb(0,0,0);
    background-color: rgb(0,0,0);
    display: flex;
}
#footer-1{
    height: 100px;
    width: 200px;
    /* border: 1px solid red; */
    margin-top: 80px;
    margin-left: 200px;
}
#footer-2{
    height: 100%;
    width: 300px;
    /* border: 1px solid red; */
    margin-left: 500px;
    display: flex;
}
.footer-3{
    height: 65%;
    width: 50%;
    /* border: 1px solid red; */
    margin-top: 18%;
}
.footer-3>a{
    color: white;
    font-size: 15px;
    display: inline-block;
    margin-top: 5px;
}

/* ...................................Medium Screen .........................................*/
@media screen and (min-width:460px) and (max-width:735px) {
    #mainElement {
        font-size: 12px;
        margin-top: 4vw;
    }

    #navBarg {
        gap: 10px;
        width: auto;
        margin-right: 10px;
    }

    #navBarsecond-2 {
        margin: 0px;

    }

}

/* ..................................Small Screen.............................. */
@media screen and (min-width:0px) and (max-width:460px) {
    #navBarg {
        width: auto;
    }

    #mainElement {
        font-size: 10px;
        margin-top: 20px;
    }

    #imgUpgrad {
        width: 30%;
    }

    #navBarsecond-2 {
        width: 95%;
    }

    #navBarsecond-2>div>a {
        font-size: 7px;
    }

    #navBarSecond {
        height: 40px;
    }

    * {
        margin-top: 10px;
    }

}