*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family:Arial;
}
#container{
    height: 900px;
    width: 100vw;
    border: 1px solid red;
}
#navbar{
    height: 100px;
    width: 100%;
    background-color: rgb(255,255,255);
    /* border: 1px solid red; */
}
#navBarg{
    height: 100%;
    width: 70%;
    /* border: 1px solid green; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#imgUpgrad{
    height: 50%;
    width: 15%;
    /* border: 1px solid yellow; */
    margin: 2vw
}
#imgUpgrad>a>img{
    display: block;
    height: 100%;
    width: 100%;
}
#mainElement{
    height: 50%;
    width: 50%;
    /* border: 1px solid yellow; */
    margin: 2vw
}
#mainElement>a{
    text-decoration: none;
    color: black;
    padding-top: 4%;
}
#mainElement{
    display: flex;
    gap: 1vw;
}
#mainElement>a:hover{
    color: red;
}