.dropbtn {
    background-color: red;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }

  #courses {
    position: relative;
    display: inline-block;
    
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    font-weight: 400;
    
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    height: 40px;
    width:  200px;
  }

  #courses a:hover {background-color: red; color: black}

#courses:hover .dropdown-content {display: block;color: black}

#courses:hover .dropbtn {background-color: white;
color: red; border: 1px solid red;}