*{
    font-family: CircularXX,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
    font-weight: bold;
    box-sizing: border-box;
}
.carousel-cell-fr>img{
    border-radius: 10px;
    height: 200px;
    width: 333px;
    cursor: pointer;
    margin-right: 30px;
}
.carousel-cell-fr{
    /* width: 30%; */
    /* height: 300px; */
    margin-right: 30px;
    /* border-radius: 15px; */
    background-size: cover;
    background-position: center;
}
.carousel-cell::before{
    /* display: block; */
    text-align: center;
    /* content: counter(carousel-cell); */
}
.imgratio{
    width: 80%;
    margin: auto;
    /* border: solid 1px red;  */
    /* background: #f2f2f2; */
}
.exploreR{
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    border: solid 2px white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.bottom-text{
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#free-courses{
    /* border: 1px solid black; */
    /* height: 310px; */
    width: 330px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 60px;
}
.image-free-course{
    width: 100%;
    border-radius: 15px;
}
.text01{
    font-weight: normal;
    padding: 10px;
}
.text02{
    border: rgb(76, 171, 226) 1px solid;
    padding: 5px;
    width: 120px;
    border-radius: 5px;
    margin-left: 15px;
    color: rgb(76, 171, 226);
    /* margin-bottom: 15px; */
    
}
#free-courses>div>h3{
    /* color: red; */
    padding-left: 10px;
    line-height: 0px;
}
/* .text03{
    display: flex;
} */
#viewallbutton01{
    height: 60px;
    width: 280px;
    border-radius: 8px;
    background-color: #f23e36;
    padding: 0 32px;
    margin: auto;
    box-sizing: initial;
    color: white;
    text-align: center;
}
#viewallbutton01>h3{
    text-align: center;
    padding: 15px;
    color: white;
    /* font-family: inherit; */
    font-size: 18px;
    font-weight: 600;
}
.webinar011{
    display: flex;
}
.ex-free{
    margin-top: 100px;
}