*{
  margin: 0%;
  padding: 0%;
  font-family: Arial;
}
#mainContainerDiv{
  max-width: 1400px;
}
.nav{
  height: 100px;
  /* background-color: gray; */
}
.nav>img{
  height: 60px;
  margin-left:220px;
}
/* ========== nav end========================================= */
.innerSection>img{
 margin-top: -20px;
 width:100%;
 position: relative;
}
.innerText{
  position: absolute;
  margin-top:-42%;
  width: 500px;
  height: 564px;
  margin-left: 200px;
  background-color: rgba(10, 3, 70, 0.7);
}
.innerText>p{
  font-size: 2.7106rem;
  width: 450px;
  margin-top: 180px;
  margin-left: 20px;
  color: white;
  line-height: 50px;
  font-weight: bold;
}

a
{
text-decoration: none;
color: white;
}
.btn1{
  margin-top: 20px;
  height: 20px;
  margin-left: 20px;
  width: 100px;
  text-align: center;
  padding: 10px;
  font-size: 15.8512px;
  font-weight: bold;
  border-radius: 5px;
  background-color:#EE2C3C;
}

/* ==========================end inners section=============== */
.Register-Div
{
  border: 1px solid rgb(248, 244, 244);
  height: 70vh;
  margin-top: -4px;
  background-color:rgb(248, 244, 244);
}
.Register-Div>div
{
  margin-top: 30px;
}
.Register-3Sections{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  line-height: 50px;
  
}
.Register-img{
  width: 320px;
  height: 220px;
  border-radius: 10px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.Register-head{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.btn2{
  width: 320px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: black;
  border: 0ch;
  border-radius: 5px;
}

.btn2:hover{
  background-color: #FF0606;
}

/* ==================================end Register-Div================================== */

.backImg2{
  background-image: url('https://v.fastcdn.co/u/f8c127f9/58668822-0-shutterstock-7582641.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 400px;
  width: 100%;
  
}

h1{
  position: absolute;
  color: white;
   z-index: 1;
   margin-left:45%;
   margin-top: 100px;
   font-size: 30px;
}
.color-Overlay{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.color-Overlay>div{
  height: 160px;
  width: 230px;
  border:1px solid white ;
  margin-top: 14%;
  border-radius: 10px;
}

.color-Overlay>div>img{
  width:50%;
  height:65%;
  margin-left: 50px;
}
.color-Overlay>div>p{
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

/*====================Register-Div================================ */

.form-section{
  height: 70vh;
}

.form-section{
  display: grid;
  justify-content: center;
}

input{
  width: 340px;
  height: 43px;
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #EE2C3C;
  border-radius: 3px;
}

#country{
  width: 340px;
  height: 43px;
  border-radius: 3px;
  border-color: #EE2C3C;
  color: gray;
  padding: 12px 20px;
  margin: 8px 0;
}
.form-head{
  margin-top: 40px;
  font-size: 34px;
  font-weight: bold;
  margin-left:50px ;
}

#btn3{
  background-color: #EE2C3C;
  color:white;
  font-size:18px;
}

/* ================form section end================= */

.footer{
  height:30vh;
  background-color: #000;
  margin-top: 20px;
  display: grid;
  justify-content: center;
  
}

.logo2{
  height: 70px;
  border: 1px solid red;
  display: grid;
  justify-content: center;
  width: 1000px;;
  border-bottom: 1px solid gray;
  border-top:none;
  border-left:none;
  border-right:none;
}

.logo2>img{
  width: 150px;
}
.bottomp{
  color: white;
  margin-top: -40px;
  text-align: center;
  font-size: 18px;
}


/* ///////////////////////media query////////// */

@media screen and (min-width: 480px) {
 
/* 
  .innerText{
    position: absolute;
    margin-top:-245px;
    width: 200px;
    height: 240px;
    margin-left: 130px;
    background-color: rgba(10, 3, 70, 0.7);
  }
  .innerText>p{
    font-size: 10px;
    width: 100px;
    margin-top:40px;
    margin-left: 20px;
    color: white;
    line-height: 15px;
    font-weight: bold;
  } */
}

@media screen and (max-width: 600px) {
 
}