*{
  margin: 0%;
  padding: 0%;
  font-family: Arial;
}

#mainContainerDiv{
  max-width: 1400px;
}
.nav{
  height: 70px;
  /* background-color: gray; */
}
.nav>img{
  height: 60px;
  margin-left:220px;
}

/* ////////////nav end//////////////////////////// */

.Banner{
  background: url("https://v.fastcdn.co/u/f8c127f9/59490486-0-banner.jpg");
  background-size: cover;
  width: 100%;
  height: 453px;
}
.bannerOverlay{
  background-color: rgba(6, 10, 51 , 0.6);
  height:453px ;
  width: 501px;
  margin-left: 13%;
  position: relative;
  line-height: 45px;
}
.bannerOverlay>p{
  color: #fff;
  width: 80%;
  font-size: 37px;
  font-weight: bold;
  margin-left: 100px;
  position: absolute;
  margin-top: 150px;
  word-spacing: 5px;
}


#ShowList{
  display: grid;
  grid-template-columns:repeat(3,350px); 
  grid-template-rows:repeat(1,520px);
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

#ShowList2{
  display: grid;
  grid-template-columns:repeat(3,350px);
  grid-template-rows:repeat(5,520px);
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

#image{
  width: 100%;
  height: 200px;
}
#logo{
  width:70px;
}
#ShowList>div,#ShowList2>div{
  /* border: 5px solid red; */
  /* line-height: 25px; */
  padding: 10px;
  
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#dateImgdiv{
  display: flex;
}
#hr{
  width: 100%;
  height: 2px ;
  background-color: red;
  margin-top: 5px;
  
}

.head1,.head2{
  text-align: center;
  margin-top: 50px;
  font-size: 34px;
  font-weight: bold;
}
#name{
  font-weight: bold;
  height: 30px;
 
}
#Technology{
  font-size: 16px;
  font-weight: bold;
  color: red;
  
}
#tecnoDiv{
  margin-top: 30px;
  /* line-height: 20px; */
}

#btn{
  padding: 5px;
  width: 160px;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  background-color: #EE2C3C;
  border: none;
  border-radius: 5px;
}
#hostCtoDiv{
  height: 50px;
  /* border:1px solid  #EE2C3C; */
  margin-top: 5px;
}
div>p+p{
  font-size: 13px;
}
#host{
  font-weight: bold;

}
#host:hover{
  text-decoration: underline;
  cursor:default;
}
#co_host{
  font-weight: bold;
}
#cohostmanDiv{
  margin-top:8px;
}
#data_time{
  margin-top: 30px;
}

.backImg2{
  background-image: url('https://v.fastcdn.co/u/f8c127f9/58668822-0-shutterstock-7582641.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 400px;
  width: 100%;
  
}

h1{
  position: absolute;
  color: white;
   z-index: 1;
   margin-left:45%;
   margin-top: 100px;
   font-size: 30px;
}
.color-Overlay{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.color-Overlay>div{
  height: 160px;
  width: 230px;
  border:1px solid white ;
  margin-top: 14%;
  border-radius: 10px;
}

.color-Overlay>div>img{
  width:50%;
  height:65%;
  margin-left: 50px;
}
.color-Overlay>div>p{
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

/*====================Register-Div================================ */

.form-section{
  height: 70vh;
}

.form-section{
  display: grid;
  justify-content: center;
}

input{
  width: 340px;
  height: 43px;
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #EE2C3C;
  border-radius: 3px;
}

#country{
  width: 340px;
  height: 43px;
  border-radius: 3px;
  border-color: #EE2C3C;
  color: gray;
  padding: 12px 20px;
  margin: 8px 0;
}
.form-head{
  margin-top: 40px;
  font-size: 34px;
  font-weight: bold;
}

#btn3{
  background-color: #EE2C3C;
  color:white;
  font-size:18px;
  margin-left:50px ;
}

/* ================form section end================= */

.footer{
  height:30vh;
  background-color: #000;
  margin-top: 20px;
  display: grid;
  justify-content: center;
  
}

.logo2{
  height: 70px;
  border: 1px solid red;
  display: grid;
  justify-content: center;
  width: 1000px;;
  border-bottom: 1px solid gray;
  border-top:none;
  border-left:none;
  border-right:none;
}

.logo2>img{
  width: 150px;
}
.bottomp{
  color: white;
  margin-top: -40px;
  text-align: center;
  font-size: 18px;
}
#name{
  height: 43px;
}
.Why-Signup{
  margin-top: 60px;
}

/* ///////////////////////media query////////// */

@media screen and (min-width: 480px) {
 
/* 
  .innerText{
    position: absolute;
    margin-top:-245px;
    width: 200px;
    height: 240px;
    margin-left: 130px;
    background-color: rgba(10, 3, 70, 0.7);
  }
  .innerText>p{
    font-size: 10px;
    width: 100px;
    margin-top:40px;
    margin-left: 20px;
    color: white;
    line-height: 15px;
    font-weight: bold;
  } */
}

@media screen and (max-width: 600px) {
 
}