*{
  margin: 0%;
  padding: 0%;
 font-family: Arial;
}
.mainContainer{
  max-width: 1400px;
  background-color:beige;
  
  height: 170vh;
}

.blackNav>a{
  text-decoration: none;
  color: #fff;
  margin-left: 40px;

}
.blackNav{
  /* /* margin-top: 10px; * */
  padding-top: 10px;
}

.container{
  width: 900px;
  background-color:#fff;
  height: 820px;
  margin: auto;
  /* position: relative; */
}
.blackNav{
  width:100% ;
  height: 40px;
  background-color: black;
}
.bannerImge{
  width: 70%;
  height: 200px;
  margin: auto;
  /* border: 1px solid rebeccapurple; */
  
}
.bannerImge>img{
  width: 100%;
}
.approvedhed{
  text-align: center;
  margin-top: 40px;
  font-size: 19px;
}


.imgLogo1{
  width:200px;
  height: 200px;
  }
  
  .imgLogo1>img{
    width: 100%;
    height: 100%;
  }
  
  .innerInfo{
    display: grid;
    grid-template-columns:75% 25% ;
    margin-top: 20px;
    gap: 10px;
  }
  .para{
    display: grid;
    grid-template-columns: 15% 85%;
  
  }
  .p1{
    font-weight: bold;
  }
  .mainpara>div{
    margin-top: 30px;
  }
  .mainpara{
    margin-left: 15px;
    
  }
  P+P{
    font-size: 14px;
    color: gray;
    line-height: 20px;
  }
  p a {
    text-decoration: none;
    color: #0E71EB;
  }
  .hr{
    width: 100%;
    height: 1px;
    margin-top: 40px;
    background-color: rgb(185, 184, 184);
  }

  .para1{
    margin-top: 30px;
    font-size: 18px;
  }
  .linkContent{
    margin-left: 20px;
  }
.para2{
  margin-top: 20px;
}

.link{
  margin-top: 20px;
  width: 900px;
  /* border: 1px solid red;
 line-height: 25px; */
  
}

.para3{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.link2{
  margin-left: 20px;
  margin-top: 20px;
}


.footer{
  height:30vh;
  background-color: #000;
  /* margin-top: 20px; */
  display: grid;
  justify-content: center;
  
}

.logo2{
  height: 70px;
  border: 1px solid red;
  display: grid;
  justify-content: center;
  width: 1000px;;
  border-bottom: 1px solid gray;
  border-top:none;
  border-left:none;
  border-right:none;
}

.logo2>img{
  width: 150px;
}
.bottomp{
  color: white;
 
  text-align: center;
  font-size: 18px;
}









