* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.navbar-m{
    width: 98.76vw;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.navbar-m>div:nth-child(1){
    width: 18%;
    height: 100%;
}
.navBar_options {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 300px;
}
.upgrad-logo-m{
   margin-left: 110px;
   height: 100%;
}
.greydiv-m{
    font-size: 12px;
    font-weight: bold;
    color: #535B62;
    letter-spacing: 1px;
    cursor: pointer;
}
.greydiv-m:hover {
    color: rgb(239,64,61);
}
.nav_courses {
    background: linear-gradient(270deg,#ff5757 0,#d02035 100%);
    border-color: white;
    color: white;
    width: 120.22px;
    height: 32px!important;
    border-radius: 6px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
}
#signup {
    cursor: pointer;
    margin: 0 50px 0 100px;
    background: linear-gradient(270deg,#ff5757 0,#d02035 100%);
    border-color: white;
    color: white;
    width: 100px;
    height: 32px;
    margin: 0 0 0 50px; 
    border-radius: 6px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slideshow {
    transition: 1s;
}
#slideshow img {
    height: 78vh;
    width: 98.76vw;
}
.radioBTN input {
    display: none;
}
.radioBTN_navigation {
    width: 100vw;
    position: absolute;
    margin-top: -40px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:hover {
    background: white;
}
#about {
    width: 98.76vw;
    height: 20vw;
    /* background-color: red; */
    padding: 25px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#about_title {
    font-size: 18px;
    color: rgb(74,74,74);
}
#about_info {
    padding: 0 285px;
    font-size: 15px;
}
#about_info p {
    text-align: center;
    line-height: 1.5;
    word-spacing: 1px;
    font-weight: 400;
    letter-spacing: normal;
    color: rgb(74,74,74);
    /* font-family: ; */
}
#about_register {
    display: flex;
    justify-content: center;
}
#about_register div {
    height: 45px;
    width: 255px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(239,64,61);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#topic_container {
    padding: 36px 104.5px;
}
#topic_Title {
    font-size: 40px;
    padding: 0 0 12px 0;
}
#topic_subTitle {
    font-size: 15px;
    color: #4A4A4A;
    padding: 0 0 24px 0;
}
#innerNavbar_hidden {
    display: none;
}
#innerNav_hidden {
    position: fixed;
    top: 0;
    box-shadow: 3px 3px 6px 6px rgb(0 0 0 / 16%);
    border-radius: 8px;
    margin-bottom: 24px;
    /* margin-left: -17px; */
    width: 1140px;
    background: white;
}
#innerNav_hidden ul {
    display: flex;
}
#innerNav_hidden ul li {
    list-style: none;
    padding: 24px 18px;
    color: #808080;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#innerNavbar {
    display: block;
}
#innerNav {
    box-shadow: 3px 3px 6px 6px rgb(0 0 0 / 16%);
    border-radius: 8px;
    margin-bottom: 24px;
    background: white;
}
#innerNav ul {
    display: flex;
}
#innerNav ul li {
    list-style: none;
    padding: 24px 18px;
    color: #808080;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#innerNav ul li:hover {
    background-color: #f9f9f9;
}
#innerNav_hidden ul li:hover {
    background-color: #f9f9f9;
}
.innerNav_list:nth-child(1) {
    background-color: #f9f9f9;
    border-bottom: 5px solid #f23e36;
    color: #f23e6f!important;
}
.innerNav_hidden_list:nth-child(1) {
    background-color: #f9f9f9;
    border-bottom: 5px solid #f23e36;
    color: #f23e6f!important;
}
.topic_module ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.topic_module ul li {
    list-style: none;
    height: 96px;
    /* background-color: yellow; */
    border: 1px solid grey;
    border-radius: 8px;
    cursor: pointer;
}
.topic_module_1 {
    padding: 24px;
}
.topic_module_2 {
    /* background-color: red; */
    width: 1090px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.topic_module_2_back {
    background-image: url('https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites/prod/in/free-courses/1648035227802/sprite-in/free-courses.png');
    height: 44px;
    width: 40px;
    background-size: cover;
    margin-right: 24px;
}
.topic_module_2_para {
    width: 935.5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 5px;
}
.p1 {
    font-size: 20px;
    font-weight: bold;
    color: #4A4A4A;
}
.p2 {
    font-size: 14px;
    color: #4A4A4A;
}
.topic_module_2_reg {
    width: 134px;
    height: 42px;
    background: linear-gradient(270deg,#ff5757 0,#d02035 100%);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

#faq_container {
    padding: 36px 0px;
}
#faq_container p {
    font-size: 32px;
    font-weight: 300;
    color: rgba(21,28,42,.87);
    margin: 0 104.5px 48px 104.5px;
}
#faq_section {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    cursor: pointer;
    border-top: 1px solid rgb(179, 173, 173);
    background-color: #f9fbfc;
}
#faq_section div {
    margin: 0 104.5px 0 104.5px;
    font-size: 16px;
    color: rgba(21,28,42,.87);
    font-weight: bold;
    transition: .1s color ease-in;
    letter-spacing: 1.23px;
    /* background-color: #f9fbfc;  */
}
#faq_section svg {
    margin-right: 104.5px;
}
.accordion {
    width: 100vw;
    background-color: #f9fbfc;
}
.accordion__item {
    margin: 5px 104.5px;
    padding: 24px;
    /* border: 1px solid rgb(163, 163, 163); */
    box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 16%);
    border-radius: 8px;
    background-color: white!important;
}
.accordion__title-text {
    color: rgba(21,28,42,.6)!important;
    letter-spacing: 0.35px;
    font-weight: 500;
}
.accordion_hidden {
    color: grey;
    letter-spacing: 0.35px;
    font-weight: 500;
    margin-top: 15px;
    display: none;
}
.accordion__item:nth-child(1) {
    margin-top: 0px!important;
}
.accordion__item:nth-child(2) {
    border-top: 0px;
}
.accordion__item:nth-child(3) {
    border-top: 0px;
}
.accordion__item:nth-child(4) {
    border-top: 0px;
}
.accordion__item:nth-child(5) {
    border-top: 0px;
}
.accordion__item:nth-child(6) {
    border-top: 0px;
}
.accordion__title-text {
    font-size: 15px!important;
    margin: 0!important;
}
.faq_content {
    background-color: #f9fbfc;
    cursor: pointer;
}


/* Icons Styling */

.icons {
    display: flex;
    justify-content: space-between;
}
.BackToTop__icon {
    display: none;
    width: min-content;
    padding: 20px 24px;
    box-shadow: 3px 3px 6px 6px rgb(0 0 0 / 16%);
    border-radius: 6px;
    height: 61px;
    width: 57px;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0 0 50px 30px;  
    cursor: pointer;
    transition: 1s;
}
.BackToTop_icon {
    transform: rotate(-90deg);
}
.ClickToCall_icon {
    display: none;
    height: 61px;
    width: 57px; 
    width: min-content;
    padding: 10px;
    box-shadow: 3px 3px 6px 6px rgb(0 0 0 / 16%);
    border-radius: 6px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 30px 50px 0;
    cursor: pointer;
}


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Oxygen:wght@300&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

/* ----------------footer-top-logo-section -------------------*/
* {
    font-family: CircularXX,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.footer_main{
    width: 100%;
    /* margin: auto; */
    padding: 60px 120px;
    background: rgba(21,28,42,.87);
    font-family: Arial, Helvetica, sans-serif ;
    color: #ffffff;
    /* margin-top: 440px; */
}
/* .footer_container{
    border: 1px solid orangered;
} */
.footer_logo_container{
    /* border: 1px solid orangered; */
    display: flex;
    justify-content: space-between;
}
.footer_logo_box-1{
    /* border: 1px solid orangered; */
    width: 160px;
    height: 144px;
}
.footer_logo_box-1 img{
    color: #ffffff;
    cursor: pointer;
}
.footer_logo_tagline{
    width: 160px;
    height: 16px;
    font-size: 12px;
}
.social_icons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.icons_size{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.android-box{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.android-box>div{
    display: flex;
}
/* ----------------footer-top-logo-section -------------------*/
/* ----------------footer-bottom-section -------------------*/
.footer_section{
    display: grid;
    grid-template-columns: repeat(3,minmax(250px,1fr));
    grid-gap: 32px;
    gap: 32px;
    border-top: 1px solid #555;
    margin-top: 16px;
    padding-top: 20px;
}
.footer_list{
    color: #fff;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
}
.list{
    opacity: .7;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #bbbdc1;
    cursor: pointer;
}
.list:hover {
    font-weight: bold;
}
.Footer_copyrightLabel{
    color: #fff;
    opacity: .7;
    font-size: 10px;
    border-top: 1px solid #555;
    margin-top: 16px;
    padding-top: 20px;
}
/* ----------------footer-bottom-section -------------------*/
